@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Caucasian+Albanian&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 24px;
    text-align: center;
}

.row {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
}

header {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__title {
    font-size: 32px;
    font-weight: 700;
    color: #6030b1;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

/*NAVIGATION*/
.logo {
    width: 200px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 12px 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #cafdff;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 12px;
    justify-content: center;
}

.btn__contact {
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .35s ease;
    text-decoration: none !important;
    font-size: 24px;
    font-weight: 700;
}

.btn__hover-effect:hover {
    background-color: #5d3eff;

}

.nav__link--anchor {
    text-decoration: none;
    font-size: 24px;
    color: #242424;
    font-weight: 700;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link__hover-effect--black:after {
    background-color: #242424;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.nav__link--list {
    display: flex;
}

.fa-adjust {
    font-size: 20px;
}

/*LANDING*/

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;     
}

.landing__title {
    font-size: 57px;
    font-weight: 700;
    line-height: 1.25;
    color: #6030b1;
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
}

.landing__description {
    font-size: 24px;
    color: #242424;
    margin-bottom: 24px;
    align-items: center;
}

.search_input {
    width: 400px;
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 20px;
    outline: none;
}
.search_button,
.btn__contact {
    padding: 12px 24px;
    border: 2px solid #5d3eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .35s ease;
    cursor: pointer;
    outline: none;
}   

/*MOVIE CARD*/
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.movie__header {
    display: flex;
    padding: 24px;
    margin: 0 36px;
    justify-content: center;
}

#filter {
    width: 200px;
    height: 50px;
    padding: 12px 12px;
    border: 2px solid black;
    font-size: 16;
    outline: none;
    align-items: center;
    margin-left: auto;
    justify-content: center;

}

.movie-card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: 12px;
    width: 30%;
    height: 300px;
    box-shadow:0 6px 16px rgba(0, 0, 0, 0.1);
}

.movie-card__poster {
    width: 100%;
    object-fit: cover;
}

.movie-card__content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-card__title {
    font-size: 20px;
    font-weight: 700;
    color: #6030b1;
    margin-bottom: 8px;
    text-align: center;
}
.movie-card__year {
    font-size: 16px;
    color: #242424;
    text-align: center;
}

/*FOOTER*/

footer {
    border: #242424 1px solid;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
} 

 .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 24px 0;
}

.footer__logo {
    width: 150px;
    align-items: center;
    justify-content: center;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    text-decoration: none;
}

.footer__link--anchor {
    text-decoration: none;
    font-size: 18px;
    color: #6030b1;
    font-weight: 700;
    margin: 0 12px;
}

.footer__link--hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #5d3eff;
    transition: all 300ms ease;
}
