@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Caucasian+Albanian&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.row {
    width: 100%;
    height: 50%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
}

header {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*NAVIGATION*/
.logo {
    width: 200px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 12px 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #cafdff;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--contact {
    display: flex;
    cursor: pointer;
    padding: 12px 24px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .35s ease;
}
.nav__link--anchor {
    text-decoration: none;
    font-size: 24px;
    color: #242424;
    font-weight: 700;
}

.nav__link--list {
    display: flex;
}

.fa-adjust {
    font-size: 20px;
}

/*LANDING*/

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;     
}

.landing__title {
    font-size: 57px;
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #6030b1;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
}

.landing__description {
    font-size: 24px;
    color: #242424;
    margin-bottom: 24px;

    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}